// use Adobe Source Code Pro - Regular in .woff format

$adobe-source-pro-location: '../vendor/adobe-source-code-pro';

@font-face {
  font-family: 'Adobe Source Code Pro';
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Regular.eot');
  src: local('SourceCodePro Regular'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Regular.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 200;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-ExtraLight.eot');
  src: local('SourceCodePro ExtraLight'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-ExtraLight.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 300;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Light.eot');
  src: local('SourceCodePro Light'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Light.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 500;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Medium.eot');
  src: local('SourceCodePro Medium'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Medium.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 600;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Semibold.eot');
  src: local('SourceCodePro Semibold'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Semibold.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 700;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Bold.eot');
  src: local('SourceCodePro Bold'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Bold.ttf.woff') format('truetype');
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 800;
  src: url('#{$adobe-source-pro-location}/EOT/SourceCodePro-Black.eot');
  src: local('SourceCodePro Black'),
       url('#{$adobe-source-pro-location}/WOFF/OTF/SourceCodePro-Black.otf.woff') format('woff'),
       url('#{$adobe-source-pro-location}/WOFF/TTF/SourceCodePro-Black.ttf.woff') format('truetype');
}
