/* use Adobe Source Code Pro - Regular in .woff format */
@font-face {
  font-family: 'Adobe Source Code Pro';
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Regular.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 200;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-ExtraLight.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 300;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Light.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 500;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Medium.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 600;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Semibold.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 700;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Bold.ttf.woff);
}
@font-face {
  font-family: 'Adobe Source Code Pro';
  font-weight: 800;
  src: url(../vendor/adobe-source-code-pro/woff/ttf/SourceCodePro-Black.ttf.woff);
}