// use Charis SIL - Regular in .woff format

$charissil_location: '../vendor/charis-sil/web';

@font-face {
  font-family: CharisSILW;
  src: local('Charis Sil'),
       url('#{$charissil_location}/CharisSIL-R.woff') format('woff');
}
// use Charis SIL - Italic in .woff format
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: local('Charis Sil'),
       url('#{$charissil_location}/CharisSIL-I.woff') format('woff');
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: local('Charis Sil'),
       url('#{$charissil_location}/CharisSIL-B.woff') format('woff');
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: local('Charis Sil'),
       url('#{$charissil_location}/CharisSIL-BI.woff') format('woff');
}
