// scheme: "Atelier Lakeside"
// author: "Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)"

$base00: hsl(200, 15%, 10%);  /* #161b1d; */
$base01: hsl(200, 20%, 15%);  /* #1f292e; */
$base02: hsl(200, 21%, 40%);  /* #516d7b; */
$base03: hsl(200, 22%, 45%);  /* #5a7b8c; */
$base04: hsl(200, 24%, 55%);  /* #7195a8; */
$base05: hsl(200, 26%, 60%);  /* #7ea2b4; */
$base06: hsl(200, 75%, 86%);  /* #c1e4f6; */
$base07: hsl(200, 100%, 96%); /* #ebf8ff; */
$base08: hsl(335, 65%, 50%);  /* #d22d72; */
$base09: hsl(30, 60%, 36%);   /* #935c25; */
$base0a: hsl(60, 80%, 30%);   /* #8a8a0f; */
$base0b: hsl(100, 41%, 39%);  /* #568c3b; */
$base0c: hsl(160, 52%, 37%);  /* #2d8f6f; */
$base0d: hsl(200, 65%, 41%);  /* #257fad; */
$base0e: hsl(240, 35%, 57%);  /* #6b6bb8; */
$base0f: hsl(290, 65%, 50%);  /* #b72dd2; */


$blue:    $base0d;
$indigo:  #6610f2 !default;
$purple:  $base0e; // violet
$pink:    $base0f; // magenta
$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$teal:    #20c997 !default;
$cyan:    $base0c;

$gray-100: #f8f9fa !default;
$gray-200: $base07;
$gray-300: $base06;
$gray-400: $base05;
$gray-500: $base04;
$gray-600: $base03;
$gray-700: $base02;
$gray-800: $base01;
$gray-900: $base00;

$primary:       $purple;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-800;