.footer-wrapper {
  background: $gray-base;

}

footer {
  @extend %sans-serif;

  color: $gray-dark;

  .colophon h4 {
    font-size: $font-size-small;
    line-height: $line-height-computed;
  }

  a {
    color: $gray-darker;
  }

  .colophon li,
  .colophon p {
    font-size: $font-size-smaller;
    line-height: $line-height-computed;
  }

  &.main-footer {
    padding-top: $line-height-computed;

    > .footer-container {
      @include make-row();

      aside {
        @include make-md-column(4);
        @include make-md-column-offset(2);
      }
    }

  }
}
