.footer-wrapper {
  background: $gray-dark;
  color: $gray-lighter;
}

footer.main-footer {
  padding-top: $line-height-computed;

  > aside {
    @include make-row();

    ul {
      @extend .list-inline;
    }
  }
}
