.footer-wrapper {
  background: $gray-dark;
  color: $gray-lighter;
}

footer.main-footer {
  padding-top: $line-height-computed;
  > .footer-container {
    @include make-row();

    aside {
      @include make-lg-column(3);
      @include make-lg-column-push(3);
    }
  }

  aside {
    ul {
      @extend .list-inline;
    }
  }

}