%aside-block {
  @include make-lg-column(4);
  @include make-md-column(4);

  @media (min-width: $screen-md-min) {
    clear: right;
    float: right;
  }
}

%main-block {
  @include make-lg-column(8);
  @include make-md-column(8);
  @media (min-width: $screen-md-min) {
    clear: left;
    float: none;
  }
}

%wide-block {
  @include make-xs-column(12);

}
