
// /* type */


.serif {
  font-family: $font-family-serif;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.monospace {
  font-family: $font-family-monospace;
  font-size: .7rem;
  font-weight: 400;
  line-height: 150%;
}



p.reference {
  padding-left: 2rem;
  text-indent: -2rem;
}


// .media-container {
//   @extend .video;
// }