
/* type */


.serif {
  font-family: CharisSILW, serif;
}

.sans-serif {
  font-family: 'Fira Sans', sans-serif;
}

.monospace {
  font-family: 'Adobe Source Code Pro', monospace;
  font-size: .7rem;
  line-height: 150%;
  font-weight: 400;
}


/* structure */
html {
  height:100%;
}

body {
  @extend .serif;
  background-color:#d4d4d4;
}

/* headings */

h1, h2, h3 {
  @extend .sans-serif;
}

code, kbd, pre, samp {
  @extend .monospace;
}

header.main-header, footer.main-footer{
}

div.wrapper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  z-index: 1000;
  #background-color: #fefefe;
}


main.main-content, footer.main-footer {
  @include outer-container;
  padding-bottom: rem-calc(32px);
  padding-top: rem-calc(32px);
}

main.main-content {

  > article, > section {
    @include main-block;

    .side-note {
      @include aside-panel;
    }

    > header {
      @extend .sans-serif;
      border-bottom: 1px solid #ddd;
      margin-bottom: rem-calc(16);

    }

    > .footnotes {
      margin-top: rem-calc(12);
      margin-bottom: rem-calc(12);

      ol {
        border-top: 3px solid #ddd;
      }
      p , ol{
        font-size: rem-calc(12);
      }
    }

    ul.posts {
      margin-left: 0;
      list-style: none;

      li.post {
        padding-bottom: rem-calc(12px);
      }

      time {
        @extend .sans-serif;
        font-size: rem-calc(12);
        color: #999
      }

      h2 {
        display: inline;
        font-size: rem-calc(18);
        @extend .serif;
      }

      section.excerpt {
        margin-top: rem-calc(12);
        color: #999;


      }

      .categories {
        @extend .sans-serif;
        //margin-top: - rem-calc(12);
        font-size: rem-calc(12);
        color: #999

      }
    }

    .pagination {
      @include aside-block;
      @extend .sans-serif;
    }
  }
}


p.reference {
  text-indent: -2rem;
  padding-left: 2rem;
}


.media-container {
  @extend .video;
}