
// /* type */


%serif {
  font-family: $font-family-serif;
}

%sans-serif {
  font-family: $font-family-sans-serif;
}

%monospace {
  font-family: $font-family-monospace;
  font-weight: 400;
}

body {
  line-height: $line-height-computed;
}



h1 {
  font-weight: 200;
  line-height: $line-height-computed * 2;
  margin-bottom: $line-height-computed / 2;
  margin-top: $line-height-computed / 2;
  padding-bottom: 0;
  padding-top: 0;

  small {
    font-weight: 200;
  }
}

h2 {
  font-weight: normal;
  line-height: $line-height-computed * 2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

h3 {
  line-height: $line-height-computed * 1.5;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

h4 {
  line-height: $line-height-computed;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

h5 {
  line-height: $line-height-computed;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

h6 {
  line-height: $line-height-computed;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

p {
  margin-bottom: $line-height-computed/2;
}

dd, dt {
  line-height: $line-height-computed;
}

blockquote {
  border-left-color: $gray-light;
  line-height: $line-height-computed;
}

p.reference {
  padding-left: 2rem;
  text-indent: -2rem;
}

.media-container {
  @extend .embed-responsive;

  iframe {
    @extend .embed-responsive-item;
  }
}

p img {
  @extend .img-responsive;
  // max-width: 100%;
  // display: block;
}


.contact-list {
  color: $gray-lighter;
  ul {
    @extend .list-inline;

    li.active a {
      color: $brand-primary;

    }
  }
}