header.main-header {
  @include grid-row();
  margin-bottom: 5px;

  &:hover {
    background: scale-color($topbar-bg-color, $lightness: -14%);
  }
  .nav-container {
    @include main-block();

  }

  .main-menu {
    li.active {
      a {
        text-decoration: underline;
      }
    }
  }
}