
main {
  @include make-row();

  > article,
  > section.archive {
    @include make-xs-column(12);

  }
}

section.post-content,
section.page-content {
  @include make-row();
  @include clearfix();

  .side-note {
    @extend %aside-block;

    font-size: $font-size-small;
    line-height: $line-height-computed;

    // this corrects baseline issues
    padding-top: 2px;
    padding-bottom: $line-height-computed - 2px;
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > pre,
  > img,
  > blockquote,
  > div.footnotes {
    @extend %main-block;

    &.reference {
      padding-left: ($grid-gutter-width / 2) + ($font-size-base);
    }
  }
}

.side-note {
  @extend %sans-serif;
}


.archive {
  ul.posts {

    list-style: none;
    padding-left: 0;

    li.post {
      padding-bottom: 0;
    }

    time {
      @extend %sans-serif;
      color: $gray-lighter;
      font-size: $font-size-smaller;

    }

    h2 {
      @extend %serif;
      font-size: $font-size-large;
      line-height: $line-height-computed/2;
    }

    section.excerpt {
      color: $gray-lighter;
      margin-top: $line-height-computed;


    }

    .categories {
      @extend %sans-serif;
      color: $gray-lighter;
      display: inline;
      font-size: $font-size-smaller;

    }
  }

  .pagination {
    @extend %aside-block;
    @extend %sans-serif;
  }
}


// /* structure */

// header.main-header,
// footer.main-footer{
// }


// main.main-content,
// footer.main-footer {
//   @include grid-row();
//   padding-bottom: rem-calc(32px);
//   padding-top: rem-calc(32px);
// }

// main.main-content {

//   > article,
//   > section {
//     @include main-block;

//     .side-note {
//       @include aside-panel;
//     }

//     > header {
//       @extend .sans-serif;
//       border-bottom: 1px solid #ddd;
//       margin-bottom: rem-calc(16);

//     }

//     > .footnotes {
//       margin-top: rem-calc(12);
//       margin-bottom: rem-calc(12);

//       ol {
//         border-top: 3px solid #ddd;
//       }
//       p , ol{
//         font-size: rem-calc(12);
//       }
//     }

//     ul.posts {

//       list-style: none;
//       margin-left: 0;

//       li.post {
//         padding-bottom: rem-calc(12px);
//       }

//       time {
//         @extend .sans-serif;
//         color: #999;
//         font-size: rem-calc(12);

//       }

//       h2 {
//         @extend .serif;

//         display: inline;
//         font-size: rem-calc(18);
//       }

//       section.excerpt {
//         color: #999;
//         margin-top: rem-calc(12);


//       }

//       .categories {
//         @extend .sans-serif;
//         //margin-top: - rem-calc(12);
//         color: #999;
//         font-size: rem-calc(12);

//       }
//     }

//     .pagination {
//       @include aside-block;
//       @extend .sans-serif;
//     }
//   }
// }
