body.frontpage {
  background: $gray-base;
  color: $gray-dark;

  section.page-content {
    @extend %sans-serif;
    margin-top: $line-height-computed;

    @media (min-width: $screen-md-min) {
      margin-top: 15%;
    }

    .contact-list {
      font-size: $font-size-h2;
      line-height: $line-height-computed * 2;
    }

    h1 small {
      color: $gray;
    }
  }
}


main {
  @include make-row();

  > article,
  > section.archive
  > section.search {
    @include make-xs-column(12);
    padding-bottom: ($line-height-computed * 2);

    .listing {
      @include make-row();

      .recent-posts {
        @include make-md-column(6);
      }

      .older-posts {
        @include make-md-column(6);
      }
    }
  }

  > section.archive {

    header {
      @media (min-width: $screen-sm-min) {
        text-align: center;
      }
    }
  }
}

section.post-content,
section.page-content {
  @include make-row();
  @include clearfix();

  .side-note {
    @extend %aside-block;

    font-size: $font-size-small;
    line-height: $line-height-computed;
    // this corrects baseline issues
    padding-bottom: $line-height-computed - 1px;
    padding-top: 1px;


    @media (max-width: $screen-sm-max) {
      padding-top: $line-height-computed/2 - 1px;
      padding-bottom: $line-height-computed/2 - 1px;

      border-top: 1px dashed $gray;
      border-bottom: 1px dashed $gray-light;

    }

    & + .side-note {
      border-top: none;
      padding-top: 1px;
    }
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > dl,
  > nav,
  > pre,
  > img,
  > blockquote,
  > div.footnotes,
  > div.highlight {
    @extend %main-block;

    &.reference {
      padding-left: ($grid-gutter-width / 2) + ($font-size-base);
    }

    &.wide {
      @extend %wide-block;
    }
  }
}

.footnotes {
  border-top: 1px solid $gray-light;
  margin-top: $line-height-computed;
  padding-top: ($line-height-computed/2);

  p, ul, ol {
    font-size: $font-size-small;
    line-height: $line-height-computed;
  }
}

.side-note {
  @extend %sans-serif;
}




.archive {

  dl.posts {
    @extend .dl-horizontal;

    list-style: none;
    padding-left: 0;

    dt {
      @extend %sans-serif;
      font-weight: 200;
      line-height: $line-height-computed;
    }

    dd.post {
      margin-bottom: $line-height-computed/2 - 2px;
      padding-bottom: 0;
    }

    time {
      @extend %sans-serif;
      color: $gray-light;
      font-size: $font-size-smaller;
      line-height: $line-height-computed;


    }

    h2 {
      @extend %serif;
      font-size: $font-size-large;
      line-height: $line-height-computed;
      margin-bottom: 0;
      margin-top: 0;
    }

    section.excerpt {
      color: $gray-lighter;
      margin-top: $line-height-computed;


    }

    .categories {
      @extend %sans-serif;
      color: $gray-light;
      display: inline;
      font-size: $font-size-smaller;
      line-height: $line-height-computed;

    }

    .languages {
      @extend %sans-serif;
      @extend .list-inline;
      color: $gray-light;
      display: inline;
      font-size: $font-size-smaller;
      line-height: $line-height-computed;

    }
  }

  .pagination {
    @extend %aside-block;
    @extend %sans-serif;
  }
}

.older-posts {
  dl.posts {
    dd.post {
      margin-bottom: $line-height-computed/4 - 2px;
    }
  }
}
