.navigation {
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  margin-top: 1.5rem;
}
.contact-list, .navigation {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;


  li {
    display: flex;
    margin: 0 .5rem;

    a.disabled {
      color: $gray-500;
    }
  }
}