nav.main-navigation {
  @extend .navbar;
  @extend .navbar-default;

  @extend %sans-serif;

  font-size: $font-size-small;


  .nav-container {
    @extend .container;

    .main-navigation,
    .language-navigation {
      @extend .nav, .navbar-nav;
    }

    .language-navigation {
      @extend .navbar-right;
    }

  }
}


.navbar-brand {
  font-size: $font-size-small;
  font-weight: 200;
  letter-spacing: .05em;
  text-transform: uppercase;
}
