article.post,
article.page {
  > footer.post-meta {
    @include make-row();
    color: $gray-light;
    margin-bottom: $line-height-computed * 2;
    margin-top: $line-height-computed * 2;

    .post-footer-main {
      @extend %main-block;
    }

    span.title,
    span.author,
    span.category,
    time {
      @extend %sans-serif;
      font-style: italic;
    }

    i {
      color: $gray-light;
    }

    p,
    ul,
    ol, {

      font-size: $font-size-small;
      font-weight: 200;
      line-height: $line-height-computed;

    }


    .barcode {
      @extend %aside-block;
      @include make-row();
      color: $gray-light;

      p.tags {
        @extend %sans-serif;

        @include make-xs-column(9);
        @include make-sm-column(10);
        @include make-md-column(8);
        @include make-lg-column(9);

        font-size: $font-size-smaller;
        font-weight: 200;
        letter-spacing: .05em;
        text-transform: uppercase;

      }

      i {
        @include make-xs-column(3);
        @include make-sm-column(2);
        @include make-md-column(4);
        @include make-lg-column(3);
        color: $gray-light;
        font-size: 8rem;
        height: 100%;
        line-height: $line-height-computed * 3;
        padding-right: $line-height-computed;
      }

    }
  }

  .post-content.video {
    margin-top: $line-height-computed;
  }
  header.full {
    @include make-row;

    h1 {
      @extend %condensed;
      color: $gray-base;
      font-size: $font-size-h2;
      font-weight: 700;
      text-transform: uppercase;

    }
  }

  header.full h1 {
    @extend %main-block;
    @media (min-width: $screen-md-min) {
      border-bottom: 4px solid $gray-base;
      margin-bottom: $line-height-computed * 2 - 4px;
      margin-top: -$line-height-computed / 2;
      text-align: center;

      span {
        background: $body-bg;
        bottom: -$line-height-computed;
        display: inline;
        position: relative;
      }
    }

    @media (max-width: $screen-sm-max) {
      span::after {
        content: " ";
        display: block;
        border-bottom: 4px solid $gray-base;
      }
      span {
        margin-bottom: $line-height-computed/2-4px;

      }
    }
  }



  &.video {

    header {
      @extend %aside-block;

      h1 {
        border: none;
        font-size: $font-size-large;
        line-height: $line-height-computed;
        margin-bottom: 0;
        margin-top: $line-height-computed;
        text-align: left;

      }
    }
  }
}
