article.post {
  > footer.post-meta {
    @include make-row();
    margin-top: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 2;
    color: $gray-light;

    .post-footer-main {
      @extend %main-block;
    }

    span.title,
    span.author,
    span.category,
    time {
      @extend %sans-serif;
      font-style: italic;
    }

    i {
      color: $gray-light;
    }

    p,
    ul,
    ol, {

      font-size: $font-size-small;
      font-weight: 200;
      line-height: $line-height-computed;

    }


    .barcode {
      @include make-row();
      color: $gray-light;
      p.tags {
        @include make-xs-column(9);
        @include make-sm-column(10);
        @include make-md-column(8);
        @include make-lg-column(9);

        @extend %sans-serif;

        font-size: $font-size-smaller;
        font-weight: 200;
        letter-spacing: .05em;
        text-transform: uppercase;
        .tag {

        }
      }
      i {
        @include make-xs-column(3);
        @include make-sm-column(2);
        @include make-md-column(4);
        @include make-lg-column(3);
        color: $gray-light;
        font-size: 8rem;
        height: 100%;
        line-height: $line-height-computed * 3;
        padding-right: $line-height-computed;
      }
      @extend %aside-block;
    }
  }

  .post-content.video {
    margin-top: $line-height-computed;
  }

  &.video {
    header {
      @extend %aside-block;

      h1 {
        color: $gray-base;
        font-size: $font-size-large;
        line-height: $line-height-computed;
        margin-top: $line-height-computed;
      }
    }
  }
}