.search-form {
  border-bottom: 1px dashed $gray-light;
  margin-bottom: $line-height-computed - 1px;

  .help-block {
    @extend %sans-serif;

    font-size: $font-size-smaller;
    line-height: $line-height-computed;
    margin-bottom: $line-height-computed/4;
    margin-top: $line-height-computed/4;
  }

  input,
  button {
    @extend %sans-serif;

    font-size: $font-size-smaller;
    line-height: $line-height-computed;
    padding-bottom: $line-height-computed/4;
    padding-top: $line-height-computed/4;


  }


  .form-group {
    @include make-row();

    .input-group {
      @include make-xs-column(12);
    }
  }
}

.search-results {
  @extend .list-unstyled;
  @include make-row();

  .result {
    @extend %main-block;
    margin-bottom: $line-height-computed;

    .categories,
    .tags {
      @extend %sans-serif;

      color: $gray-light;
      font-size: $font-size-smaller;
      line-height: $line-height-computed;
    }
  }


}

