// tomorrow
$tm_background_colour:      #ffffff;
$tm_current_line_colour:    #efefef;
$tm_selection_colour:       #d6d6d6;
$tm_foreground_colour:      #4d4d4c;
$tm_comment_colour:         #8e908c;
$tm_red_colour:             #c82829;
$tm_orange_colour:          #f5871f;
$tm_yellow_colour:          #eab700;
$tm_green_colour:           #718c00;
$tm_aqua_colour:            #3e999f;
$tm_blue_colour:            #4271ae;
$tm_purple_colour:          #8959a8;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       CharisSILW, Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   'Adobe Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-serif;

$font-size-base:          18px;
$font-size-smaller:       ceil(($font-size-base * 0.7));


$headings-font-family:  $font-family-sans-serif;

$body-bg:               $tm_background_colour;

$gray-darker:           lighten($tm_foreground_colour, 13.5%);
$gray-dark:             lighten($tm_foreground_colour, 20%);
$gray:                  lighten($tm_foreground_colour, 33.5%);
$gray-light:            $tm_comment_colour;
$gray-lighter:          $tm_current_line_colour;

$brand-primary:         $tm_comment_colour;
$brand-success:         $tm_green_colour;
$brand-info:            $tm_blue_colour;
$brand-warning:         $tm_orange_colour;
$brand-danger:          $tm_red_colour;

$line-height-base:        1.428571429;
$line-height-computed:    floor(($font-size-base * $line-height-base));
