

$rem-base: 16px;
$base-font-size: 130%;
$base-line-height: 140%;

$primary-color: #98261e;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$code-font-family: 'Adobe Source Code Pro', 'Liberation Mono', Courier, monospace;