// Typography

$font-family-sans-serif:  BlinkMacSystemFont, -apple-system, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Lora, Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   "Adobe Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base: $font-family-serif;