{% assign date = include.date %}
{% assign mode = include.mode | default "full" %}
{% assign num_month = post.date | date: '%m' %}
{% capture month %}{{ post.date | date: '%b'}}{% endcapture %}
{% capture formatted_date %}

{% if mode =='year' %}

{{ post.date | date: "%Y" }}{% elsif mode == 'month year' %}{{ month | strip_newlines | strip }} {{ post.date | date: "%Y" }}

{% else %}

{{ post.date | date: "%-d" }} {{ month | strip_newlines | strip }} {{ post.date | date: "%Y" }}

{% endif %}
{% endcapture %}

{{ formatted_date | strip_newlines | strip }}