

<ul class="pagination">
  <li class="arrow {% unless paginator.previous_page %}unavailable{% endunless %}">
    <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}{% else %}#{% endif %}">&laquo;</a>
    </li>
  <li class="unavailable"><a href="">{{ paginator.page }} of {{ paginator.total_pages }}</a></li>
  <li class="arrow {% unless paginator.next_page %}unavailable{% endunless %}">
    <a href="{% if paginator.next_page %}{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}{% else %}#{% endif %}">&raquo;</a>
  </li>
</ul>
