

<footer class="post-meta">

  {% if page.tags %}
  <div class="barcode">
    <i class="fa fa-tag"></i>
    <p>
    {% for tag in page.tags|sort %}<span class="tag">{{tag}}</span>{% if forloop.rindex0 == 1 %} and {% elsif forloop.rindex0 != 0 %}, {% endif %}<wbr>{% endfor %}.
    </p>
  </div>
  {% endif %}

  <p>
    <span class="title">{{page.title}}</span>
    was published
    {% if page.category %}
    in
    <span class="category">{{ page.category }}</span><wbr>
    {% endif %}

    {% if page.categories %}
    in
    {% for category in page.categories%}
    <span class="category">{{ category }}</span>{% if forloop.rindex0 == 1 %} and {% elsif forloop.rindex0 != 0 %}, {% endif %}<wbr>
    {% endfor %}
    {% endif %}

    by <span class="author">{% if page.author %}{{ page.author }}{% else %}{{ site.name }}{% endif %}</span><wbr>

    on

    <time datetime="{{page.date | date: "%a, %d %b %Y %H:%M:%S %z"}}">
      {{ page.date | date_to_string }}
    </time>

  </p>

</footer>