// Functions

@mixin grid-sizing($small: 12, $medium: 12, $large: 12) {
    // grid-sizing is a shortcut for simple grid sizing classes.
    // The three arguments are the columns for small, medium
    // and large media sizes respectively
    // call the mixin like:
    // @include grid-sizing(1, 2, 3)
    // for small-1 medium-2 large-3

    @media #{$small-only} {
        @include grid-column($small);
    }
    @media #{$medium-only} {
        @include grid-column($medium);
    }
    @media #{$large-up} {
        @include grid-column($large);
    }
}


@mixin main-block() {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(10,
     $last-column: true,
     $center: true);

    > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > pre, > img {
      padding-right: 30%
    }

    > .full-width {
      padding-right: 0;
    }
  }
}

@mixin aside-block() {
  @media #{$small-only} {
    @include grid-column(12);
    background: #e5e5e5;
  }
  @media #{$medium-up} {
    width: 30%;
    float: right;
    clear: right;
    padding-right: 0;
    padding-left: rem-calc(48);
  }

  @extend .clearfix;
  font-size: rem-calc(12);

}
