
/* type */


.serif {
  font-family: CharisSILW, serif;
}

.sans-serif {
  font-family: 'Fira Sans', sans-serif;
}


/* structure */
html {
  height:100%;
}

body {
  @extend .serif;
  background-color:#fefefe;
}

main, footer {
  @include grid-row();
}

@mixin main-block() {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
      @include grid-column(6,
                           $last-column: true);

      clear: right;
  }
}

@mixin aside-block() {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
      @include grid-column(2,
                           $offset: 2,
                           $float: left);
      clear: left
  }
  text-align: right;


  font-size: rem-calc(12);

}

main {

  section {
    p, pre {
      @include main-block;
    }

    h2, .byline, .side-note {
      @include aside-block;
    }


    h2 {
      border-top: 2px solid #333;
      font-size: rem-calc(16);
    }
  }
}
/* headings */

h1, h2, h3 {
  @extend .sans-serif;
}
