
/* type */


.serif {
  font-family: CharisSILW, serif;
}

.sans-serif {
  font-family: 'Fira Sans', sans-serif;
}

.monospace {
  font-family: 'Adobe Source Code Pro', monospace;
  font-size: .7rem;
  line-height: 150%;
  font-weight: 400;
}


/* structure */
html {
  height:100%;
}

body {
  @extend .serif;
  background-color:#fefefe;
}

/* headings */

h1, h2, h3 {
  @extend .sans-serif;
}

code, kbd, pre, samp {
  @extend .monospace;
}


main.main-content, footer.main-footer {
  @include grid-row();
}

main.main-content {

  > article, > section {
    @include main-block;

    .side-note {
      @include aside-block;
    }

    > header {
      @extend .sans-serif;
      border-bottom: 1px solid #ddd;
      margin-bottom: rem-calc(16);

    }

    > .footnotes {
      border-top: 1px solid #ddd;
      font-size: rem-calc(12);
    }

    ul.posts {
      @extend .no-bullet;

      .date {
        @extend .sans-serif;
        font-size: rem-calc(12);
        color: #999
      }
    }
  }
}

