
/* type */


.serif {
  font-family: CharisSILW, serif;
}

.sans-serif {
  font-family: 'Fira Sans', sans-serif;
}


/* structure */
html {
    height:100%;
}

body {
  @extend .serif;
  height:100%;
  background-color:#fefefe;
}

header, main, footer {
  @include grid-row();
}

main {
  section {
    @include grid-sizing(12, 9, 9);
  }
}

/* headings */

h1, h2, h3 {
  @extend .sans-serif;
}
