article.post {
  > footer.post-meta {
    @extend .sans-serif;
    margin-top: rem-calc(16);
    border-top: 1px solid #ddd;
    clear: both;

    p {
      font-size: rem-calc(12);
    }

    ul.tags {
      margin-left: 0;
      font-size: rem-calc(12);
      li {
        display: inline;
        list-style-type: none;
      }
    }
  }
}

article.post.video {
  header {
    @include aside-block();
    border-bottom: none;

    h1 {
      font-size: rem-calc(16px);
      font-weight: bold;

    }
  }
}