article.post {
  > footer.post-meta {
    @include main-block();
    @extend .sans-serif;
    margin-top: rem-calc(48);
    clear: both;
    color: #999;

    p {
      text-align: right;
      font-size: rem-calc(12);
      padding-left: 30%;
    }

    span.title, span.tag, span.author, span.category, time {
      font-style: italic;
    }

    .barcode {
      @include aside-block();
      margin-top: - rem-calc(16);
      font-size: 8rem;
      color: #e9e9e9;
    }
  }
}

article.post.video {
  header {
    @include aside-block();
    border-bottom: none;

    h1 {
      font-size: rem-calc(16px);
      font-weight: bold;

    }
  }
}