---
layout: default
---

<section class="archive">

  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li class="post">
      <time datetime="{{post.date | date: "%a, %d %b %Y %H:%M:%S %z"}}">{{ post.date | date_to_string }}</time>

      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>



      <div class="categories">
        {% if post.category %}
        <i class="fa fa-bookmark"></i>
        <span class="category">{{ post.category }}</span><wbr>
        {% endif %}

        {% if post.categories %}
        <i class="fa fa-bookmark"></i>
        {% for category in post.categories%}
        <span class="category">{{ category }}</span>{% if forloop.rindex0 == 1 %} and {% elsif forloop.rindex0 != 0 %}, {% endif %}<wbr>
        {% endfor %}
        {% endif %}
      </div>



    </li>
    {% endfor %}
  </ul>

  <footer>
    {% include pagination.html %}
  </footer>
</section>