---
layout: internal
---
{% assign entries=site.posts | where: "type", posts%}

<section class="archive">
  <section>
    {% for post in entries limit: site.n_recent_posts%}
    <div class="row">
      <article class="column">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.description %}{{ post.description | markdownify}}{% endif %}
      </article>
    </div>

    {% endfor %}
  </section>

  <section>

    {% for post in entries offset: site.n_recent_posts %}
    {% capture mod %}{{ forloop.index0 | modulo:2 }}{% endcapture %}

    {% if mod == '0' or forloop.first %}
    <div class="row">
    {% endif %}
      <article class="column column-50">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </article>
    {% if mod == '1' or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </section>

  <footer>
    {% comment %}{% include pagination.html %}{% endcomment %}
  </footer>
</section>