---
layout: default
---

  <div class="container">
    <div class="row">
      <aside class="main-aside column column-25">
        {% include navigation.html %}

        <div class="side-about">
          {% capture mini_about %}{% include mini_about.md %}{% endcapture %}
          {{ mini_about | markdownify }}
        </div>

      </aside>

      <main class="column column-75">
        {{ content }}
      </main>
    </div>

    <hr />
    <div class="row">
      <footer class="main-footer column column-75 column-offset-25">
        {% include footer.html %}
      </footer>
    </div>
  </div>

