---
layout: default
---

  <div class="container">
    <div class="row">
      <aside class="main-aside col col-12 col-lg-3">
        {% include navigation.html %}

        <div class="side-about d-none d-lg-block">
          {% capture mini_about %}{% include mini_about.md %}{% endcapture %}
          {{ mini_about | markdownify }}
        </div>

      </aside>

      <main class="column col col-12 col-lg-9">
        {{ content }}
      </main>
    </div>

    <hr />
    <div class="row">
      <footer class="main-footer col col-12 col-lg-9 offset-lg-3">
        {% include footer.html %}
      </footer>
    </div>
  </div>

